@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    padding: 25px;
    background: rgb(239, 239, 239);
    display: flex;
    
}

.container {
    background: white;
    padding: 3rem;
    width: 100%;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 1rem rgba(134, 134, 134, 0.632);
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.show-type {
    display: flex;
    width: max-content;
    display: flex;
    gap: 1rem;
}

.show-type button {
    background: rgb(167, 226, 131);
    border: 2px solid rgb(167, 226, 131);
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2rem;
    padding: 1rem 2rem;
    transition: 0.5s;
    cursor: pointer;
}

.show-type button:hover,
.show-type button.active {
    filter: sepia(2);
}

.container>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.date {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.date button {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: block;
}

.date button img {
    height: 4rem;

}

.date button svg {
    fill: transparent;
    transition: 0.5s;
    width: 64px;
}

.date button:hover svg {
    fill: rgb(167, 226, 131);
    filter: sepia(2);
}


@media screen and (max-width: 1124px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 878px) {
    :root {
        font-size: 10px;
    }

    .container>header {
        flex-direction: column;
        margin-bottom: 4rem;
    }
}

@media screen and (max-width: 576px) {
    :root {
        font-size: 8px;
    }

    .date button svg {
        width: 40px;
    }
}




.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    flex: auto;
    h3 {
        text-align: center;
    }

    .lesson {
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .time {
            text-align: center;
            font-size: 1.5rem;
            line-height: 1;
            gap: 1rem;

            span:first-child {
                display: none;
            }

            min-width: 0;
        }

        header {

            h2,
            h3 {
                font-size: 1.25rem;
                line-height: 1;
            }
        }

    }

}

.container>header {
    margin-bottom: 2rem;
}

.week-day {
    padding: 0.5rem;
    border-radius: 1rem;
}


@media screen and (max-width: 1500px) {
    .week {
        display: flex;
        flex-direction: column;

        .lesson {
            padding: 1rem;
            justify-content: space-between;
        }
    }

    .week-day {
        display: grid;
        grid-template-columns: max-content repeat(4, 1fr);
        gap: 1rem;

        >h3 {
            writing-mode: vertical-lr;
            transform: rotate(180deg);
        }
    }
}


@media screen and (max-width: 768px) {
    main{
        padding: 0px;
    }
    .container{
        border-radius: 0px;
        padding: 1rem;
    }
    .week-day .lesson h2 {
        display: none;
    }
}